<body>
    <section class="Entrada">
        <a style="position:absolute;top:31%;left:75%" asp-controller="Usuarios" asp-action="Solicitudes" class="btn btn-outline-dark" role="button">Solicitudes</a>
        <a style="position:absolute;top:42%;left:75%" asp-controller="Usuarios" asp-action="Chats" class="btn btn-outline-dark" role="button">Chats</a>
        <a style="position:absolute;top:60%;left:75%" asp-controller="Usuarios" asp-action="Logout" class="btn btn-outline-dark" role="button">Logout</a>
    </section>
</body>