
<body>
    <section class="fondo">
        <a style="position:absolute;top:31%;left:75%" asp-controller="Usuarios" asp-action="Registrar" class="btn btn-outline-dark" role="button">Sign up</a>
        <a style="position:absolute;top:42%;left:75%" asp-controller="Usuarios" asp-action="Login" class="btn btn-outline-dark" role="button">Log In</a>
    </section>
</body>