
@{
    ViewData["Title"] = "Mandar_Solicitud";
}
<body>
    <section class="fondoSignup">
        <form asp-action="MandarSolicitud" style=" position: relative; top: 15%; left: 3%">
            <div class="input-group mb-3" style="width: 450px">
                <label for="Usuario">Usuario:</label>
                <input type="text" name="Usuario"><br><br>
                <span style="position: relative; left: 55% " class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Mandar Solicitud" class="btn btn-warning" />
            </div>>
        </form>
    </section>
</body>
