@model MVC.Models.Usuarios
<body>
    <section class="fondoSignup">
        <form asp-action="Registrar"style=" position: relative; top: 15%; left: 3%">
            <div  asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group mb-3"style="width: 450px">
                <label style="color:darkblue" asp-for="Usuario" class="control-label"></label>
                <input style="height: 30px; position: relative; left: 1%"  asp-for="Usuario" type="text" class="form-control"  aria-label="x" aria-describedby="basic-addon2" required>
                <span style="position: relative; left: 55%" asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="input-group mb-3"style="width: 450px">
                <label style="color:darkblue" asp-for="Nombre" class="control-label"></label>
                <input  style=" height: 30px;position: relative; left: 1%"asp-for="Nombre" class="form-control" />
                <span style="position: relative; left: 55% "asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="input-group mb-3"style="width: 450px">
                <label style="color:darkblue" asp-for="Apellido" class="control-label"></label>
                <input style=" height: 30px;position: relative; left: 1%"asp-for="Apellido" class="form-control" />
                <span style="position: relative; left: 55% "asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="input-group mb-3"style="width: 450px">
                <label style="color:darkblue" asp-for="Contraseña" class="control-label"></label>
                <input  style=" height: 30px;position: relative; left: 1%"asp-for="Contraseña" class="form-control" />
                <span style="position: relative; left: 55% "asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="input-group mb-3"style="width: 450px">
                <label style="color:darkblue" asp-for="edad" class="control-label"></label>
                <input style=" height: 30px;position: relative; left: 1%" asp-for="edad" class="form-control" />
                <span style="position: relative; left: 55% "asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="input-group mb-3" style="width: 450px">
                <label style="color:darkblue" asp-for="fecha" class="control-label"></label>
                <input style=" height: 30px;position: relative; left: 1%" asp-for="fecha" class="form-control" />
                <span style="position: relative; left: 55% " asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="width: 100px" type="submit" value="Create" class="btn btn-warning" />
                <a style="position: absolute; top: 105%; left: 0%; width: 100px" asp-controller="Usuarios" asp-action="Main" class="btn btn-danger" role="button">Regresar</a>
            </div>
        </form>
    </section>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
