
@{
    ViewData["Title"] = "Solicitudes";
}

<body>
    <section class="Solicitudes">
        <a style="position:absolute;top:31%;left:75%" asp-controller="Usuarios" asp-action="Solicitudes" class="btn btn-outline-dark" role="button">Agregar Contactos</a>
        <a style="position:absolute;top:42%;left:75%" asp-controller="Usuarios" asp-action="Solicitudes" class="btn btn-outline-dark" role="button">Aceptar Contactos</a>
        <a style="position:absolute;top:60%;left:75%" asp-controller="Usuarios" asp-action="Main" class="btn btn-outline-dark" role="button">Regresar</a>
    </section>
</body>

